body {
  background-color: rgba(240, 128, 128, 0.205);
  font-family: "Josefin Sans", sans-serif;
}
.main-content {
  background-color: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 20px;
  box-shadow: rgba(28, 21, 44, 0.08);
  border-radius: 20px;
}
#search {
  width: 78%;
  padding: 15px 10px;
  border-radius: 8px;
  border: none;
  background-color: rgba(240, 128, 128, 0.205);
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}
#submit {
  padding: 12px 30px;
  border-radius: 8px;
  border: none;
  background-color: lightcoral;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
}
#submit:hover {
  cursor: pointer;
  box-shadow: 0 0 7px;
}
.welcome {
  text-align: center;
}
header {
  margin-bottom: 20px;
}
/* main */
.current-temperature {
  display: flex;
  justify-content: space-between;
}
.main-city {
  margin-top: 20px;
  font-size: 40px;
}
.main-container p {
  line-height: 20px;
  font-size: 16px;
}
.weather-details {
  display: flex;
  margin-top: 35px;
}
.weather-icon {
  height: 88px;
  width: 88px;
}
.weather-value {
  font-size: 88px;
  line-height: 88px;
}
.weather-metrics {
  font-size: 30px;
  margin-top: 10px;
}
strong {
  color: lightcoral;
}
/* weather forecast */
.weather-forecast {
  display: flex;
  justify-content: space-around;
}
.weather-forecast-day {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
}
.weather-forecast-icon {
  text-align: center;
  font-size: 30px;
}
.weather-forecast-temps {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #f65282;
  margin-top: 10px;
}
.weather-forecast-temp {
  padding: 0 10px;
}
.weather-forecast-icon {
  padding-top: 10px;
}
/* Footer Styling */
footer {
  font-size: 13px;
  text-align: center;
  color: grey;
  padding-top: 5px;
  margin-bottom: 0;
}
a {
  color: lightcoral;
  font-weight: bold;
}
